.principal{
    display: flex;
    width: 50%;
    margin: 2rem auto;
    background-color: #f7f7f7;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1px 1rem 0 #f7f7f7;

}

.principal img{
    width: 40%;
    object-fit: cover;
}

.subContainer{
    width: 100%;
    text-align: start;
    margin: 1rem;
}

.subContainer h2, h4{
    margin: 0.2rem 0rem;
}


.sectionDetail{
    align-items: center;
    margin: 3rem 0rem;
    justify-content: center;
}
.sectionDetail p{
    margin: 0.2rem 0rem;
    /* margin-bottom: 1rem; */
}


@media (max-width: 768px) { 
    .principal{
        flex-direction: column;
        width: 80%;
    }
    
    .principal img{
        width: 80%;
        padding: 2rem;
        border-radius: 15rem;
    }
 }
